footer {
    padding: 5rem;
    background-color: yellow;
    display: grid;
    gap: 2rem;
    justify-items: center;
    position: relative;

    .to-top {
        padding: 1rem;
        background-color: #000;
        color: aqua;
        font-size: 1.5rem;
        position: absolute;
        top: -25px;
    }
}

.social-icons {
    display: flex;
    gap: 2rem;

    .icon {
        padding: 1rem;
        background-color: #000;
        color: aqua;
        font-size: 1.5rem;
    }
}