// ***** TYPOGRAPHY ***** //
.text-center {
    text-align: center;
}

.text-200 {
    font-weight: 200;
}

.text-700 {
    font-weight: 700;
}

// ***** LAYOUT ***** //
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ***** utils ***** //
/*.button {
    padding: 5px;
    border: 2px solid black;
    font-size: ;
}*/